# Copy this template file to config.cfg and add/edit the fields.
# The host section contains info about the host type (e.g. Raspberry,
# PC) and its location.
# All the section with a name starting with 'sensor' are used to
# describe sensors.  The right section is determined by matching
# the sensor type, which means that only one sensor per type can
# be used on a given host.
# E.g. if you launch an SCD-30 it will pick the name and description
# set in a [sensor*] section that contains type=SCD-30.

[host]
location=Greenhouse
type=Raspberry


[Sensor0]
type=SCD-30
name=SCD-30-Greenhouse
desc=CO2/temperature/humidity sensor placed in the greenhouse

[Sensor1]
type=Mock
name=Mock-Sensor-Greenhouse
desc=A mock sensor used for testing
