python-socketio==5.16.1
aiohttp==3.13.5
aiomqtt==2.5.1
paho-mqtt==2.1.0
netifaces==0.11.0
jinja2==3.1.6
tomli==2.4.1

# sensor-related deps
hidapi==0.15.0
Adafruit-Blinka==9.1.0
adafruit-circuitpython-scd30==2.2.19
adafruit-circuitpython-scd4x==1.4.11
adafruit-circuitpython-sgp30==3.0.16
adafruit-circuitpython-bme680==3.7.16
adafruit-circuitpython-bmp3xx==1.3.27
adafruit-circuitpython-tsl2591==1.4.8
adafruit-circuitpython-veml7700==2.2.2
adafruit-circuitpython-bno08x==1.3.2
godirect==1.2.1

# display-related deps
rich==15.0.0
pillow==11.3.0
adafruit-circuitpython-ssd1306==2.12.24
adafruit-circuitpython-ssd1327==1.4.10
