python-socketio
aiohttp
aiomqtt
paho-mqtt
netifaces
tomli

# sensor-related deps
hidapi
Adafruit-Blinka
adafruit-circuitpython-scd30
adafruit-circuitpython-scd4x
adafruit-circuitpython-sgp30
adafruit-circuitpython-bme680
godirect
