python-socketio==5.15.0
aiohttp==3.13.2
aiomqtt==2.4.0
paho-mqtt==2.1.0
netifaces==0.11.0
jinja2==3.1.6
tomli==2.3.0

# sensor-related deps
hidapi==0.14.0.post4
Adafruit-Blinka==8.68.0
adafruit-circuitpython-scd30==2.2.13
adafruit-circuitpython-scd4x==1.4.5
adafruit-circuitpython-sgp30==3.0.10
adafruit-circuitpython-bme680==3.7.11
adafruit-circuitpython-tsl2591==1.4.2
adafruit-circuitpython-veml7700==2.0.2
adafruit-circuitpython-bno08x==1.3.0
godirect==1.2.1
