# This unit file is used to launch the csvwriter scripts on boot.
# Use `sam setup-csvwriter` to enable, `sam teardown-csvwriter` to disable.
# Use `systemctl start/stop/restart/status csvwriter` to control the service.
# Use `journalctl -u csvwriter.service -f` to see the script output.

[Unit]
Description=csvwriter service to save MQTT data on CSV files
StartLimitIntervalSec=0
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/simoc-sam
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/simoc-sam/venv/bin/python -m simoc_sam.csvwriter
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
