[connection]
id={{conn_id}}
uuid={{conn_uuid}}
type=wifi
interface-name={{conn_interface}}
{{conn_extra}}

[wifi]
mode={{wifi_mode}}
ssid={{wifi_ssid}}
{{wifi_extra}}

[wifi-security]
key-mgmt=wpa-psk
psk={{wifi_pass}}
{{wifi_sec_extra}}

[ipv4]
method={{ipv4_method}}
{{ipv4_extra}}

[ipv6]
addr-gen-mode={{ipv6_addr_gen_mode}}
method=auto
{{ipv6_extra}}

[proxy]
{{proxy_extra}}
