# This unit file is used to launch the sensors scripts on boot.
# Use the `sam setup-sensors` command to start and enable the services
# so that they start automatically on boot; `sam teardown-sensors`
# to stop and disable the services.
# Manually, they can be controlled with `start`/`stop`/`restart`/`status`.
# Use e.g. `journalctl -u sensor-runner@scd30.service -f` to
# see the script output.
# Use `journalctl -u 'sensor-runner@*' -f` to see the combined
# output of all the sensors.

[Unit]
Description=%i sensor runner service
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/simoc-sam
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/simoc-sam/venv/bin/python -m simoc_sam.sensors.%i -v --mqtt
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
