# This unit file is used to launch the siobridge scripts on boot.
# Symlink it with `ln -s configs/siobridge.service
# /etc/systemd/system/siobridge.service` before using.
# Use e.g. `systemctl enable siobridge.service`
# to enable the service.
# Once symlinked and enabled for each sensor, the services will
# start automatically on boot.
# They can be controlled with `start`/`stop`/`restart`/`status`.
# Use e.g. `journalctl -u siobridge.service -f` to
# see the script output.
[Unit]
Description=siobridge service to forward data to SIMOC web
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi/simoc-sam
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/simoc-sam/venv/bin/python -m simoc_sam.siobridge
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
